@media screen and (min-width:100px) and (max-width:320px) {
.panel-body {
	padding-top: inherit;
}
#page-wrapper {

	margin-top: -50px;
}
.btn {
	font-size: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

p {
	font-size: 10px;
    margin: 0 0 0 0;
    line-height: 15px;
    padding-top: 0px;
}
.box2 {
	width: 100%;
	float: top;
}
.box1 {
	width: 100%;

}
.navbar-header {
	width: 320px;
}
}

@media screen and (min-width:321px) and (max-width:376px) {
.panel-body {
	padding-top: inherit;
}
#page-wrapper {

	margin-top: -50px;
}
.btn {
	font-size: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.navbar-header {
	width: 375px;
}
p {
	font-size: 10px;
    margin: 0 0 0 0;
    line-height: 15px;
    padding-top: 0px;
}

.box2 {
	width: 100%;
	float: top;
}
.box1 {
	width: 100%;

}

}


@media screen and (min-width:377px) and (max-width:414px) {
#page-wrapper {

	margin-top: -50px;
}
.panel-body {
	padding-top: inherit;
}
.btn {
	font-size: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.navbar-header {
	width: 414px;
}
p {
	font-size: 10px;
    margin: 0 0 0 0;
    line-height: 15px;
    padding-top: 0px;
}

.box2 {
	width: 100%;
	float: top;
}
.box1 {
	width: 100%;

}
}
@media screen and (min-width:415px) and (max-width:1000px) {
}
